.main--branch {
  text-align: center;
  font-size:30px;
  color: blue;
  background-color: pink;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}